{% extends "_base.html" %}

{% block content %}

<div class="mb-16">
  <h1 class="text-lg">
    {{capsule.title}} - created on {{capsule.created}}
  </h1>
  <small class="pb-2 text-xs">
    {% if capsule.html %}
      (It was revealed on {{capsule.reveals}})
    {% else %}
      (It will be revealed on {{capsule.reveals}})
    {% endif %}
  </small>
  {% if capsule.html %}
    <div class="gfm mt-4 p-2 rounded bg-blue-800 border border-blue-600">
      {{capsule.html|safe}}
    </div>
  {% endif %}
</div>

{% endblock %}

{% block html_body %}

<div class="flex justify-center lg:hidden w-full fixed bottom-0 p-4 bg-gray-900">
  <a href="/">Home</a>
</div>
<div class="hidden lg:block flex justify-start fixed top-0 left-0 p-4">
  <a href="/">Home</a>
</div>

{% endblock %}
