{% extends "_base.html" %}

{% block content %}

<h1 class="text-xl sm:text-2xl">To create a capsule,</h1>
<h2 class="pb-2">
  enter your secret, and select when you'd like it to be made public.
</h2>
<form class="m-auto mb-16">
  <div class="capsule pt-4">
    <textarea
      name="markdown"
      class="border bg-gray-100 text-gray-900 w-full rounded px-2 pr-4 py-1 text-sm"
      autofocus="autofocus"
      rows="6"></textarea>
    <p class="error error--markdown hidden my-2 p-2 rounded bg-red-700">
      Please enter a secret.
    </p>
    <small class="text-xs">
      Content is rendered with
      <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">
        github flavored markdown</a>.
      Click <span class="show-preview anchor cursor-pointer">here</span> to see a preview.
    </small>
  </div>
  <div class="preview hidden">
    <p class="preview__contents gfm p-2 rounded bg-blue-800 border border-blue-600"></p>
    <small class="text-xs">
      Click <span class="hide-preview anchor">here</span> to edit your capsule.
    </small>
  </div>
  <div class="sm:flex justify-between items-center pt-4">
    <label for="reveals" class="inline-block">Make it public on:</label>
    <input name="reveals" type="date" class="text-gray-900 rounded p-2" />
  </div>
  <p class="error error--date hidden my-2 p-2 rounded bg-red-700 -mb-4">
    Please enter a valid date.
  </p>
  <div class="flex pt-8">
    <button type="submit" class="border p-4 rounded bg-blue-800 border-blue-600">
      Bury it
    </button>
  </div>
</form>

{% endblock %}

{% block html_body %}

<div class="flex justify-center lg:hidden w-full fixed bottom-0 p-4 bg-gray-900">
  <a href="/capsules" class="mr-4">View All Capsules</a>
  <a href="https://github.com/staab/capsule" target="_blank">GitHub</a>
</div>
<div class="hidden lg:block flex justify-start fixed top-0 left-0 p-4">
  <a href="/capsules" class="mr-4">View All Capsules</a>
  <a href="https://github.com/staab/capsule" target="_blank">GitHub</a>
</div>

<script>
  $capsule = $('.capsule')
  $preview = $('.preview')

  $('.show-preview').addEventListener('click', async e => {
    const res = await fetch('/api/render', {
      method: 'POST',
      body: JSON.stringify({markdown: $('[name=markdown]').value}),
      headers: {
        'Content-Type': 'application/json',
      },
    })

    const {html} = await res.json()

    $('.preview__contents').innerHTML = html

    $capsule.classList.add('hidden')
    $preview.classList.remove('hidden')
  })

  $('.hide-preview').addEventListener('click', e => {
    $capsule.classList.remove('hidden')
    $preview.classList.add('hidden')
  })

  $('form').addEventListener('submit', async e => {
    e.preventDefault()

    $('.error').classList.add('hidden')

    if (!$('[name=markdown]').value.trim()) {
      $('.error--markdown').classList.remove('hidden')

      return
    }

    const res = await fetch('/api/capsule', {
      method: 'POST',
      body: JSON.stringify({
        reveals: $('[name=reveals]').value,
        markdown: $('[name=markdown]').value,
      }),
      headers: {
        'Content-Type': 'application/json',
      },
    })

    if (!res.ok) {
      $('.error--date').classList.remove('hidden')

      return
    }

    const {id} = await res.json()

    window.location = `/capsules/${id}`
  })
</script>

{% endblock %}
